<template name="accessDenied">


	{{#if isSigningUp}}
	<h2>Registrar</h2>		
	<div class="row">
		<form class="col s12 register">			
			<div class="row">
				<div class="input-field col s12">
					<input id="email" name="email" type="email" class="validate">
					<label for="email">Email</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input id="password" name="password" type="password" class="validate">
					<label for="password">Password</label>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-10 col-md-offset-2">
					<button type="button" class="btn btn-default cancel red darken-2">Cancelar</button>
					<button type="submit" class="btn btn-primary red darken-2">registrar</button>
				</div>
			</div>
		</form>
	</div>
	{{else}}
	<h2>Login</h2>
	<div class="row">
		<form class="col s12 login">			
			<div class="row">
				<div class="input-field col s12">
					<input id="loginEmail" name="loginEmail" type="email" class="validate">
					<label for="loginEmail">Email</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input id="loginPassword" name="loginPassword" type="password" class="validate">
					<label for="loginPassword">Password</label>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-10 col-md-offset-2">
					<button type="button" class="btn btn-default signingup red darken-2">Registrar</button>
					<button type="submit" class="btn btn-primary red darken-2">Entrar</button>
				</div>
			</div>
		</form>
	</div>
	{{/if}}

</template>