<template name="accountsmenu">

	<style>
		.twiterbtn img{
			width: 65px;
			margin-top: -5px;
			margin-left: -5px;
		}
		.facebtn img{
			width: 56px;
		}
	</style>

	<div class="row">
		<div class="col s12 m12">
			<p class="flow-text accountssocial">Redes : </p>

			<a class="btn-floating btn-large waves-effect waves-light blue accountssocial facebtn" title="Facebook" data-template="accountsface"><img src="img/facebook.png" alt="" class="circle"></a>
			<a class="btn-floating btn-large waves-effect waves-light blue accountssocial twiterbtn" title="Twiter" data-template="accountstwiter"><img src="img/twiter.png" alt="" class="circle"></a>
		
		</div>
	</div>

	{{> Template.dynamic template=getTemplate}}

</template>