<template name="accountsface">


	<h4>FaceBook</h4>
	<div class="row">
		<a href="#" class="waves-effect waves-light btn red darken-2 col s12 m4"><i class="material-icons left">art_track</i> Postar no Mural</a>
		<a href="#" class="waves-effect waves-light btn red darken-2 col s12 m4"><i class="material-icons left">contact_mail</i> Extrair contatos</a>
		<a href="#" class="waves-effect waves-light btn red darken-2 col s12 m4"><i class="material-icons left">thumb_up</i> Curtir</a>
		<a href="#" class="waves-effect waves-light btn red darken-2 col s12 m4"><i class="material-icons left">group_add</i> Entrar em Grupos</a>
		<a href="#" class="waves-effect waves-light btn red darken-2 col s12 m4"><i class="material-icons left">person_add</i> Adicionar Amigos</a>
		<a href="#" class="waves-effect waves-light btn red darken-2 col s12 m4"><i class="material-icons left">chat</i> Enviar Mensagens Privadas</a>
	</div>

	<p class="flow-text">Contas : </p>
	{{#if isCreatingAccount}}

	<div class="row">
		<form class="create form-horizontal col s12">
			<fieldset>
				<legend>Adicionando Nova Conta do Facebook</legend>
				<div class="row">
					<div class="input-field col s12">
						<input id="inputEmail" name="inputEmail" type="email" class="validate">
						<label for="inputEmail">Email</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="inputPass" name="inputPass" type="password" class="validate">
						<label for="inputPass">Password</label>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-10 col-md-offset-2">
						<button type="button" class="btn btn-default cancel red darken-2">Cancelar</button>
						<button type="submit" class="btn btn-primary red darken-2">Salvar</button>
					</div>
				</div>

			</fieldset>	
		</form>
	</div>
	{{else}}
  	<a href="#" class="btn-floating btn-large waves-effect waves-light red darken-2 create" title="Adiconar"><i class="material-icons">add</i></a>
        
	{{/if}}
	<div class="row">
		<ul class="collection col s12">
			{{#each accountsface}}
			{{> accountface}}
			{{/each}}
		</ul>
	</div>

	<p class="flow-text">Ações Pendentes : </p>

	<div class="row">
		<table class="bordered striped highlight responsive-table col s12">
			<thead>
				<tr>
					<th>#</th>
					<th>Data Início</th>
					<th>Ação</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>01/01/2016 00:00:00</td>
					<td>Adicionar Amigos</td>
					<td><div class="progress"><div class="determinate" style="width: 45%"></div></div></td>
				</tr>
				<tr>
					<td>1</td>
					<td>01/01/2016 00:00:00</td>
					<td>Extrair Contatos</td>
					<td><div class="progress"><div class="determinate" style="width: 80%"></div></div></td>
				</tr>		
			</tbody>
		</table>
	</div>

</template>