<template name="accountface">

	<li class="collection-item avatar ">
		<img src="{{img}}" alt="" class="circle">
		{{#if isEditingAccount}}
			<div class="row">
				<form class="form-edit col s12">
					<div class="row">
						<div class="input-field col s12">
							<input id="userName" name="userName" type="text" value="{{userName}}">
							<label for="userName">Usuário</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input id="pass" name="pass" type="password" value="{{pass}}">
							<label for="pass">Senha</label>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-10 col-md-offset-2">
							<button type="button" class="btn btn-default cancel	">Cancelar</button>
							<button type="submit" class="btn btn-primary">Salvar</button>
						</div>
					</div>
				</form>
			</div>
		{{else}}
			{{#if missingVerify	status}}
				<span class="title">{{userName}}</span>
			{{else}}
				<span class="title">{{userId}} - {{userDesc}}</span>
			{{/if}}
			<a href="#!" class="secondary-action remove red-text darken-2" title="Remover"><i class="material-icons">delete_forever</i></a>
			<a href="#!" class="secondary-action edit red-text darken-2" title="Editar"><i class="material-icons">mode_edit</i></a>
			<a href="#!" class="secondary-action details red-text darken-2" title="Detalhes"><i class="material-icons">description</i></a>
			{{#if missingVerify	status}}
				<a href="#" class="secondary-action verify red-text darken-2" title="Verificar Conta" style="position: auto !important;"><i class="material-icons">done_all</i></a>
			{{/if}}

			<p>{{{getStatusDesc status}}}</p>
		{{/if}}
		{{#if isCheckingAccount}}
			<p>Checando Conta...</p>
			<div class="progress">
				<div class="indeterminate"></div>
			</div>
		{{/if}}
		{{#if isDetailAccount}}
			<p><strong>Criado em </strong> {{createdAt}}</p>
			{{#if verifiedAt}}
				<p><strong>Verificado em </strong> {{verifiedAt}}</p>
			{{/if}}
		{{/if}}
	</li>
</template>
