<template name="gears">


	<a class="waves-effect waves-light btn-large red" href="http://radd.com.br/downloads/D.rar"><i class="material-icons left">cloud_download</i> Download Gear App</a>

	<ul class="collection with-header">
		<li class="collection-header">
			<div>
			<h4>Gear Ativa</h4>
			<p>{{getActiveGear}}</p>
			</div>
		</li>
		{{#each gears}}
			{{verifyActiveGear status}}
			{{> gear}}
		{{/each}}

	</ul>

</template>
