<template name="gearsregister">
	<h3>Gears</h3>

	{{#if isCreatingGear}}
		<p class="gear_id"></p>
	{{else}}
		<form class="create">
			<input name="name" type="text" value="{{generateName}}">
			<button class="submit" type="submit">Submit</button>
			<a class="cancel" href="#">Cancel</a>
		</form>
	{{/if}}

</template>