<template name="ginstruction">
	<tr class="ginstruction">
		<td>{{_id}}</td>
		<td>{{url}}</td>
		<td>{{instruction}}</td>
		<td>{{result}}</td>
		<td>{{createdAt}}</td>
		<td>{{updateAt}}</td>
	</tr>
</template>