<template name="ginstructions">
	<h3>Intruções da Gear</h3>

	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Url</th>
				<th>Intruction</th>
				<th>result</th>
				<th>criado</th>
				<th>modificado</th>
			</tr>
		</thead>
		{{#each ginstructions}}
			{{> ginstruction}}
			{{#if executed result}}
				{{sendInstructions _id url instruction checkinstruction}}
			{{/if}}
		{{/each}}
	</table>

</template>