<template name="layout">
	<nav class="red darken-4">
		<div class="nav-wrapper">
			<a href="#!" class="brand-logo" title="Social Marketing">RAdd</a>
			<a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>			
			<ul class="right hide-on-med-and-down">
				{{#if currentUser}}
					<li class="{{isActiveRoute regex='gears'}}"><a href="/gears" title="Gears"><i class="material-icons">settings_remote</i></a></li>
					<li class="{{isActiveRoute regex='accountsmenu'}}"><a href="/accountsmenu" title="Perfis Sociais"><i class="material-icons">person_pin</i></a></li>
					
					<li><a href="#" title="Postagens"><i class="material-icons">message</i></a></li>
					<li><a href="#" title="Contatos"><i class="material-icons">contacts</i></a></li>
					<li class="{{isActiveRoute regex='useraccount'}}"><a href="/useraccount" title="Conta"><i class="material-icons">perm_identity</i></a></li>								
				{{else}}
					<li><a href="#" class="login" title="Entrar"><i class="material-icons">perm_identity</i></a></li>
				{{/if}}
			</ul>
			<ul class="side-nav" id="mobile-nav">
				{{#if currentUser}}
					<li class="{{isActiveRoute regex='gears'}}"><a href="/gears" title="Gears"><i class="material-icons">settings_remote</i></a></li>
					<li class="{{isActiveRoute regex='accountsmenu'}}"><a href="/accountsmenu" title="Perfis Sociais"><i class="material-icons">person_pin</i></a></li>
					
					<li><a href="#" title="Postagens"><i class="material-icons">message</i></a></li>
					<li><a href="#" title="Contatos"><i class="material-icons">contacts</i></a></li>
					<li class="{{isActiveRoute regex='useraccount'}}"><a href="/useraccount" title="Conta"><i class="material-icons">perm_identity</i></a></li>								
				{{else}}
					<li><a href="#" class="login" title="Entrar"><i class="material-icons">perm_identity</i></a></li>
				{{/if}}
			</ul>
		</div>
	</nav>

	<div class="container">
        {{> yield}}
    </div>

	<!--
	<div id="wrapper">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">RAdd</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="{{isActiveRoute regex='gears'}}"><a href="/gears">Gears</a></li>
						<li class="dropdown {{isActiveRoute regex='accountsface'}}">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contas <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li class="{{isActiveRoute regex='accountsface'}}" ><a href="/accountsface">Facebook</a></li>
								<li ><a href="#">Twiter</a></li>
							</ul>

						</li>						
						<li >
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cadastros <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li ><a href="#">Postagens</a></li>
								<li ><a href="#">Contatos</a></li>
							</ul>

						</li>						
					</ul>
					
					<ul class="nav navbar-nav navbar-right">
						{{#if currentUser}}
        					<li><a href="#" class="logout">Sair</a></li>
        				{{else}}	
        					<li><a href="#" class="login">Entrar</a></li>
    					{{/if}}						
					</ul>
					
					<ul class="nav navbar-nav navbar-right">

					</ul>
				</div>
			</div>
		</nav>

		<div class="container">
			
		</div>
		
	</div>
-->
</template>