<template name="useraccount">

	<h4>Painel do Usuário :</h4>
	<div class="row">
		<a href="#" class="waves-effect waves-light btn red darken-2 col s12 m4 logout"><i class="material-icons left">cloud</i> Desconectar</a>
	</div>	

</template>